* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #FAFAFA;
  text-decoration: none;
}

p {
  font-size: 16px;
  color: #000000;
}

header {
  height: 70px;
  background-color: #ec715f;

}

nav {
  height: 70px;
  width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

nav .logo {
  height: 70px;
}

nav ul {
  display: flex;
}

nav ul li {
  font-size: 16px;
  margin-left: 30px;
  margin-right: 30px;
  list-style: none;
  display: inline-block;
}

#main-visual {
  height: 650px;
  background-image: url(img/mv.png);
  background-size: 100% 100%;
  color: #FAFAFA;
  text-align: center;
}
.main-visual-main {
  font-size: 64px;
  padding-top: 200px;
}
.main-visual-text {
  font-size: 20px;
  padding-top: 10px;
  color: #FAFAFA
}

#Portfolio {
  background-color: #ECEFF1;
  display: flex;
  justify-content: center;
}
.Portfoliocontent {
  width: 90%;
}
h2 {
  font-size: 32px;
  color: #000000;
  text-align: center;
  padding-top: 90px;
  position: relative;
}
h2::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -8px;
  width: 70px;
  height: 3px;
  background-color: #EC715F;
}
.sectiontext {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.Portfolioimage {
  /*display: flex;*/
  flex-wrap: wrap;
  padding-bottom: 90px;
  justify-content: center;
}
.portfolio-box {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}
.portfolio-box:nth-child(-n+3) {
  margin-bottom: 10px;
}
.portfolio-box:nth-child(1), .portfolio-box:nth-child(2), .portfolio-box:nth-child(4), .portfolio-box:nth-child(5) {
  margin-right: 10px;
}
.portfolio-box:nth-child(1) {
  background-image: url(img/sketch.jpg);
}
.portfolio-box:nth-child(2) {
  background-image: url(img/websuku.png);
}
.portfolio-box:nth-child(3) {
  background-image: url(img/write.jpg);
}
.portfolio-box:nth-child(4) {
  background-image: url(img/webcamp.png);
}
.portfolio-box:nth-child(5) {
  background-image: url(img/talk.jpg);
}
.portfolio-box:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
}

/*Featureセクション*/
.Featurecontent {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 90px;

}
.Strengthsecion {
  /*display: flex;*/
  flex-wrap: wrap;
  justify-content: center;
}

.Strength {
  width: 320px;
  height: auto;
  /*padding-bottom: 90px;*/
}

.FeatureIcon {
  font-size: 60px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.Strength:nth-child(1), .Strength:nth-child(2) {
  margin-right: 10px;
}

h4 {
  font-size: 20px;
  color: #000000;
  text-align: center;
  margin: 10px 0px 10px 0px;
}

#Profile {
  background-color: #ECEFF1;
  display: flex;
  justify-content: center;
}

.Profilecontent {
  width: 90%;
}
.Profilebox {
  display: flex;
  flex-wrap: wrap;
}
.box {
  width: 512px;
  margin-bottom: 90px;
}

.Protext {
  margin-top: 30px;
}
.MySkills {
  margin-top: 20px;
}
.Profiletext {
  margin-top: 5px;
}

.profileimage {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
}

#Contact {
  display: flex;
  justify-content: center;
}
.Contactcontent {
  width: 90%;
}

h5 {
  font-size: 20px;
  margin-bottom: 5px;
}
.contactIcon {
  font-size: 50px;
}
.contactIcon:nth-child(2), .contactIcon:nth-child(3) {
  margin-right: 20px;
}

.contactbox {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}

.MailTel {
  width: 400px;
  display: flex;
  justify-content: center;
}
.mailbox {
  display: inline-block;
}
.boxtext {
  color: #000000;
  border-bottom: solid black;
}
.tel {
  margin-top: 20px;
}
.SNS {
  width: 400px;
  text-align: center;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #ec715f;
  font-size: 16px;
  color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* 画面サイズが768px以上の時はスマホ用メニューは非表示 */
@media screen and (min-width: 768px) {
  .sp-menu {
    display: none;
  }

  .Portfolioimage {
    display: flex;
  }
  .Strengthsecion {
    display: flex;
  }

}

/*画面サイズ767まで*/
@media screen and (max-width:767px) {
  .pc-menu {
    display: none;
  }
  .sp-menu {
    height: 50px;
  }

  .logo {
   height: 50px;
  }
  .hamburger-menu {
    width: 90%;
    height: 50px;
    margin: 0 auto;
    display: flex;
  }

  #menu-btn-check {
    display: none;
  }

  .smenu-btn {
    /*position: relative;*/
  /*  top: 5px;*/
  /*  right: 10px;*/
    display: flex;
  /*  height: 40px;*/
  /*  width: 40px;*/
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    z-index: 100;
  /*  background-color: #ec715f;*/
    border: 1px solid #ffffff;
  }

 .smenu-btn span,
 .smenu-btn span:before,
 .smenu-btn span:after {
   content: '';
   display: block;
   height: 3px;
   width: 25px;
   border-radius: 3px;
   background-color: #ffffff;
   /*position: absolute;*/
 }
 .smenu-btn span:before {
   bottom: 8px;
 }
 .smenu-btn span:after {
   top: 8px;
 }

 #main-visual {
   background-image: url(img/code.png);
   background-size: 100% 100%;
   color: #FAFAFA;
   text-align: center;
 }
 .main-visual-main {
   font-size: 40px;
 }
 .main-visual-text {
   font-size: 18px;
 }

 .Portfolioimage {
  padding-bottom: 90px;
  justify-content: center;
}

 .portfolio-box {
   width: 300px;
   height: 250px;
   background-size: cover;
   background-position: center;
 }
 .portfolio-box:nth-child(odd) {
   display: none;
 }
 .portfolio-box:nth-child(even) {
   margin: 0 auto;
 }

  .portfolio-box:nth-child(2), .portfolio-box:nth-child(4) {
   margin-bottom: 10px;
 }

 .Strength {
   margin: 0 auto;
 }
 .Strength:nth-child(1), .Strength:nth-child(2) {
   margin: 0 auto;
   margin-bottom: 10px;
 }


}

